.search-post-root {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow-y: auto;
}
.search-post-container {
  width: 80%;
  height: fit-content;
  background-color: transparent;
  margin: 2% auto;
  overflow-y: auto;
  position: relative;
}

.no-search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  color: whitesmoke;
}

@media only screen and (max-width: 900px) {
  .search-post-container {
    width: 100%;
  }
}
